---

import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogListItem from "./BlogListItem.svelte";


interface Props {
  blogs?: CollectionEntry<'blogs'>[];
}
//export let blogEntries; // = await getCollection('blogs');
const {blogs = await getCollection('blogs')}= Astro.props
---
<div class="@container/blogs">

    <div id="blog_filter"  >
        
    </div>
    <div class="columns-1 @xl/blogs:columns-2  @2xl/blogs:columns-3  gap-8">
        {
        blogs && blogs.map((blog) => {
            return <BlogListItem {blog}/>
        })
        
        }
    </div>
</div>