---

import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogListItem from "./BlogListItem.svelte";


interface Props {
  blogs?: CollectionEntry<'blogs'>[];
}
//export let blogEntries; // = await getCollection('blogs');
const {blogs = await getCollection('blogs')}= Astro.props
---
<div class="@container/blogs">

    <div id="blog_filter"  >
        
    </div>
    <div class="grid grid-cols-1 @2xl/blogs:grid-cols-2   gap-8">
        {
        blogs && blogs.map((blog) => {
            return <BlogListItem {blog}/>
        })
        
        }
    </div>
</div>