---
import MySiteLayout from '../layouts/MySiteLayout.astro';

import Card from '../components/Card.astro';
import Stories from '../components/Stories.astro';





---
<MySiteLayout >
  
  
  <div class="space-y-4">
	<Stories />
	
  </div>
	
</MySiteLayout>

<style is:global>
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	*:focus {
    outline: none !important;
	
	}

</style>