---
import MySiteLayout from '../layouts/MySiteLayout.astro';

import Card from '../components/Card.astro';
import Stories from '../components/Stories.astro';
import { Icon } from 'astro-icon'

import mePhoto from '../assets/images/me.png';




---
<MySiteLayout >
  
  
  <div class="space-y-6">
	<!-- <Stories /> -->
	<section class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
		<div class="place-self-center md:order-last  md:blur-0">
			<img src={mePhoto} class="w-full aspect-square rounded-md brightness-90 " />
		</div>
		<div class="space-y-6 -translate-y-1/3 md:translate-y-0 "> 
			<div class="font-lato font-extrabold  text-transparent  md:text-6xl text-5xl bg-clip-text bg-gradient-to-tr  from-green-600  to-indigo-800">
				Hi this is Abhishek Saha 
			</div>
			<div class="font-normal text-base text-zinc-400">
				I am a Solution Architect 👋. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium omnis animi, ex soluta quia labore fuga molestiae distinctio minus quos eveniet voluptates incidunt perspiciatis provident in! Et, officiis in.
			</div>
			<div class="inline-flex gap-4 items-center">
				<button class="px-4 py-2 border-2 border-green-600 rounded-full hover:scale-105 hover:-translate-y-0.5 transition-all">Check My blogs</button>
				<a href="/blogs" class="inline-flex items-center gap-2 border-2 border-zinc-700 rounded-full px-4 py-2 hover:border-transparent hover:-translate-y-0.5 transition-all">
					<Icon name="ion:bar-chart-outline" class="w-4 h-4" />
					<span>See my blogs</span>
				</a>
			</div>
			<div class="flex h-6 space-x-2 text-zinc-600 ">
				<Icon name="ri:linkedin-box-fill" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				<Icon name="ri:facebook-line" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				<Icon name="ri:twitter-line" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				
			</div>
		</div>
		

	</section>
	<section class="">
		
	</section>
  </div>
	
</MySiteLayout>

<style is:global>
	html {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	*:focus {
	outline: none !important;
	
	}

</style> 