---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import Canvas from '../components/Canvas.svelte';
import Card from '../components/Card.astro';
---
<MySiteLayout>
  
  
  <div>
	<div class="grow-0 grid grid-cols-2 gap-2 lg:grid-cols-4">

		<Card title='Hello' image={`https://picsum.photos/seed/stockholm/200/200`} description='hello hello' tags={['sweden', 'population']} />
		<Card title='Hello' image={`https://picsum.photos/seed/india/200/200`} description='hello hello' tags={['sweden', 'population']} />
		<Card title='Hello' image={`https://picsum.photos/seed/paris/200/200`} description='hello hello' tags={['sweden', 'population']} />
		<Card title='Hello' image={`https://picsum.photos/seed/population/200/200`} description='hello hello' tags={['sweden', 'population']} />
		<Card title='Hello' image={`https://picsum.photos/seed/fashion/200/200`} description='hello hello' tags={['sweden', 'population']} />
		
	
	  </div>
  </div>
	
</MySiteLayout>