---
import MySiteLayout from '../layouts/MySiteLayout.astro';

import Card from '../components/Card.astro';
import Stories from '../components/Stories.astro';





---
<MySiteLayout >
  
  
  <div class="space-y-6">
	<!-- <Stories /> -->
	<section class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
		<div class="space-y-2"> 
			<div class="font-lato font-extrabold text-transparent text-6xl bg-clip-text bg-gradient-to-tr  from-green-600 to-indigo-800">
				Hi this is Abhishek Saha
			</div>
			<div class="font-normal text-lg text-zinc-400">
				I am a Solution Architect
			</div>
		</div>
		<div class="place-self-center">
			<img src="https://i.picsum.photos/id/602/400/400.jpg?grayscale&hmac=dZqUoXBxNb-itKngVGxzMKaVsPU6FbgiU_wEzrp8Lz4" class="w-full aspect-square rounded-md " />
		</div>

	</section>
  </div>
	
</MySiteLayout>

<style is:global>
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	*:focus {
    outline: none !important;
	
	}

</style>