---
import MySiteLayout from '../layouts/MySiteLayout.astro';

import Avatar from '../components/Avatar.astro';
import Particle from '../components/Particle.svelte';
import Stories from '../components/Stories.astro';
import { Icon } from 'astro-icon'

import mePhoto from '../assets/images/me.png';




---

<MySiteLayout >
	
	
  <div class="space-y-8 ">
	<!-- <Stories /> -->
	<section class="grid grid-cols-1 md:grid-cols-2 gap-4 ">
		<div class="place-self-center md:order-last  md:blur-0">
			<img src="https://i.picsum.photos/id/602/400/400.jpg?grayscale&hmac=dZqUoXBxNb-itKngVGxzMKaVsPU6FbgiU_wEzrp8Lz4" class="w-full aspect-square rounded-md brightness-90 grayscale " />
		</div>
		<div class="space-y-8 -translate-y-1/3 md:translate-y-0 antialiased "> 
			<div class="font-extrabold tracking-wide  md:text-5xl text-5xl "> <!--bg-clip-text bg-gradient-to-tr  from-green-600  to-indigo-800 -->
				Hi this is Abhishek Saha 
			</div>
			<p class="flex leading-normal text-start break-words">
				I am a Solution Architect 👋. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium omnis animi, ex soluta quia labore fuga molestiae distinctio minus quos eveniet voluptates incidunt perspiciatis provident in! Et, officiis in.
			</p>
			<div class="flex gap-4 items-center">
				<button class="px-4 py-2 border-2 border-current rounded-full hover:scale-105 hover:-translate-y-0.5 transition-all ">Check My blogs</button>
				<a href="/blogs" class="inline-flex items-center gap-2  rounded-full px-4 py-2 hover:border-transparent hover:-translate-y-0.5 transition-all">
					<Icon name="ion:bar-chart-outline" class="w-4 h-4" />
					<span>See my blogs</span>
				</a>
			</div>
			<div class="flex"></div>
			<div class="flex h-7 space-x-3  text-zinc-500 ">
				<Icon name="ri:linkedin-box-fill" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				<Icon name="ri:facebook-line" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				<Icon name="ri:twitter-line" class="cursor-pointer hover:text-zinc-100 transition-all delay-100 "/>
				
			</div>
		</div>
		

	</section>
	<section class="">
		<div>
			<Avatar name="Abhi" color="pink-500" />
		</div>
	</section>
  </div>
	
</MySiteLayout>

<style is:global>
	html {
		-webkit-tap-highlight-color: rgba(255,255,255,0);
		-webkit-tap-highlight-color: transparent;
	}
	*:focus {
	outline: none !important;
	
	}

</style> 