---
import { SEO } from "astro-seo";
import MySiteLayout from "../../../layouts/MySiteLayout.astro";
import Scene from "../../../components/blogs/sweden-network/Scene.svelte"


export const frontmatter = {
    title: "Sweden Network",
    image: {
        src: "https://picsum.photos/seed/picsum/200/300?grayscale",
        alt: "hello"
    },
    tags: ["sweden", "europe"]
}
---

<head>
    <SEO
      title="Sweden Network"
      description="A heavily optimized description full of well-researched keywords." />
</head>

<MySiteLayout>
    <div class="space-y-6 overflow-y-auto">
        <div>Sweden</div>
        <div class="flex space-x-2 items-baseline">
            <div class="text-2xl font-extrabold">12</div>
            <div class="uppercase text-base opacity-60">Hour</div>
            <div class=""></div>
            <div class="text-2xl font-extrabold">12</div>
            <div class="uppercase text-base opacity-60">Min</div>
        </div>
        
    </div>

</MySiteLayout>