---
    const {name} = Astro.props;
    const color = Astro.props?.color || "pink-700"
---
<div class={`inline-flex items-center flex-col space-y-1 text-${color} text-sm`}>
    <div class={`inline-flex items-center p-1  border-2 border-ctp-mauve rounded-full`}>
        <img src="https://pbs.twimg.com/profile_images/1374402396030267395/5i9jse_F_400x400.jpg" class="w-16 h-16 rounded-full" alt="Abhishek Saha" />

    </div>
    
</div>
