---
    const {name, image} = Astro.props;
    const color = Astro.props?.color || "pink-700"
---

    <div class={`inline-flex items-center p-1 w-10 h-10 border-2 border-ctp-mauve rounded-full`}>
        <img alt={name} src={image} class=" rounded-full" alt="Abhishek Saha" />

    </div>
    

