---
import { Icon } from 'astro-icon'
import { SITE_NAME } from '../lib/constants'

---

<div class="flex flex-row items-center gap-2 ">
    <span>
        <Icon name="loading-svgrepo-com" class="w-10 h-10 text-green-500 animate-pulse " />
    </span>
    <span class="uppercase font-semibold"> {SITE_NAME}</span>
</div>