<div class="flex flex-row items-center gap-2 ">
    <span>
        <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-red-500 relative inline-block">
            <span class="relative text-white">S</span>
        </span>
    <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-green-500 relative inline-block">
        <span class="relative text-white">I</span>
    </span>
    <span class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-indigo-500 relative inline-block">
        <span class="relative text-white">P</span>
    </span>
    </span>
    <span class="hidden lg:block">Sweden In Pixel</span>
</div>