---
import Logo from "./Logo.astro"
import { Icon } from 'astro-icon'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<div class="fixed bottom-0 z-40 bg-gradient-to-t bg-white dark:bg-[#111]  md:bg-gradient-to-b dark:from-black dark:to-[#111] md:relative  w-full container max-w-5xl mx-auto  ">
	
	<div class="relative flex items-center justify-between gap-4 p-4">
		

		<div class="hidden md:block"><Logo/></div>
		
		<div class="flex grow md:grow-0 md:w-1/2  items-center">
		
		
		
		<div class="inline-flex gap-x-4 h-6 justify-between grow   text-zinc-700 transition-all  ">
			<a href="/" class={`inline-flex hover:brightness-200 ${currentPath == "" ? "text-green-600": ""} `}>
				<Icon class=""  name="akar-icons:home" />
				
			</a>
			<a href="/blogs" class={`inline-flex hover:brightness-200 ${currentPath.indexOf("blogs") !== -1 ? "text-green-600": ""} `}>
				<Icon  name="akar-icons:edit" />
			</a>
			<a href="/" class="inline-flex hover:brightness-200  ">
				<Icon  name="akar-icons:bell" />
			</a>
			<a href="/" class="inline-flex hover:brightness-200 ">
				<Icon  name="radix-icons:avatar" />
			</a>
			<a href="/" class=" hover:brightness-200 hidden md:inline-flex">
				<Icon  name="carbon:overflow-menu-vertical" />
			</a>
			
			
		</div>
		
		
		
		</div>
	</div>
</div>

