---
import Logo from "./Logo.astro"
import { Icon } from 'astro-icon'
---

<div class="w-full container max-w-7xl mx-auto">
	<div class="relative flex items-center justify-between gap-4 p-4">
		

		<Logo/>
		<div class="flex gap-2 items-center flex-grow"></div>
		<div class="flex  items-center">
		
		
		
		<div class="inline-flex gap-x-4 h-6">
			<a href="/" class="inline-flex text-green-500">
				<Icon  name="akar-icons:home" />
			</a>
			<a href="/" class="inline-flex">
				<Icon  name="carbon:overflow-menu-vertical" />
			</a>
			
			
		</div>
		
		
		
		</div>
	</div>
</div>

