---
import Logo from "./Logo.astro"
import { Icon } from 'astro-icon'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const activeColor = "white"; //"green-600";

---
<div class="block md:hidden p-4">
	<Logo />

</div>
<div class="fixed bottom-0 z-40 md:relative  w-full container max-w-7xl mx-auto bg-[#111] md:bg-transparent ">
	
	<div class="relative flex items-center justify-between gap-4 p-4">
		

		<div class="hidden md:block"><Logo/></div>
		
		<div class="flex grow md:grow-0 md:w-1/2  items-center">
		
		
		
		<div class="inline-flex gap-x-4 h-6 justify-between grow   text-zinc-700 transition-all  ">
			<a href="/" class={`inline-flex hover:brightness-200 ${currentPath == "" ? `text-${activeColor}`: ""} `}>
				<Icon class=""  name="akar-icons:home" />
				
			</a>
			<a href="/blogs" class={`inline-flex hover:brightness-200 ${currentPath.indexOf("blogs") !== -1 ? `text-${activeColor}`: ""} `}>
				<Icon  name="akar-icons:edit" />
			</a>
			<a href="/" class="inline-flex hover:brightness-200  ">
				<Icon  name="akar-icons:bell" />
			</a>
			<a href="/" class="inline-flex hover:brightness-200 ">
				<Icon  name="radix-icons:avatar" />
			</a>
			<a href="/" class=" hover:brightness-200 hidden md:inline-flex">
				<Icon  name="carbon:overflow-menu-vertical" />
			</a>
			<!-- <div class="relative group">
				<div class="absolute -inset-0.5 bg-gradient-to-r from-yellow-600 to-zinc-200 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
				<button class=" hover:saturate-200 drop-shadow-2xl -inset-0.5 shadow-2xl shadow-white hidden md:inline-flex" >{true ? "🌙" : "🌞"}</button> 
			</div> -->
			
			
		</div>
		
		
		
		</div>
	</div>
</div>

