---
import Icon from "astro-icon";
import ActiveElementMarker from "./ActiveElementMarker.astro";
// Usage: <GreetingHeadline greeting="Howdy" name="Partner" />

interface Props {
  text?: string;
  path: string;
  icon?: string;
  isActive: boolean
}

const { text, path, icon, isActive=false } = Astro.props;
---

<a href={path} class=`nav-item ${isActive ? 'nav-item--active':null}`>
    
    {icon ? <Icon class="h-6 block " name={icon} /> : null}
    {text && <span class="h-6 hidden md:block" >{text}</span>}
    {isActive ? <ActiveElementMarker/> : null}
    
</a>