<div class="flex overflow-x-auto text-sm font-lato">
<ul class="flex space-x-6  min-w-max">
    <li class="flex  flex-col items-center space-y-1 ">
      <div class="relative bg-gradient-to-tr from-green-600 to-gray-900 p-[0.1rem] rounded-full">
        <a href="#" class="block bg-black p-1 rounded-full transform transition hover:-rotate-6">
          <img class="w-12 h-12 md:w-20 md:h-20 rounded-full" src="https://placekitten.com/200/200" alt="cute kitty">
        </a>
        <button class="absolute  bg-green-700 text-white text-2xl font-medium w-6 h-6 rounded-full bottom-0 right-0 border-2 border-white flex justify-center items-center font-mono hover:bg-blue-700 focus:outline-none">
          <div class="transform -translate-y-px">+</div>
        </button>
      </div>

      <a href="#">kitty_one</a>
    </li>
    <li class="flex  flex-col items-center space-y-1 ">
        <div class="relative bg-gradient-to-tr from-green-600 to-gray-900 p-[0.1rem] rounded-full">
          <a href="#" class="block bg-black p-1 rounded-full transform transition hover:-rotate-6">
            <img class="w-12 h-12 md:w-20 md:h-20 rounded-full" src="https://placekitten.com/200/201" alt="cute kitty">
          </a>
          
        </div>
  
        <a href="#">kitty_one</a>
      </li>
    

  </ul>

</div>