---

import MySiteLayout from "@layouts/MySiteLayout.astro"
import BlogList from "@components/blogs/BlogList.astro";

---

<MySiteLayout>
    <h1 class="text-lg font-bold my-3">All Blogs</h1>
	<div class="grid grid-cols-1 gap-2">
		<BlogList limit={-1} />
	  </div>  
    </div>
</MySiteLayout>