---
import MySiteLayout from "./MySiteLayout.astro"
const {frontmatter} = Astro.props;
---

<MySiteLayout>
    <div class="prose prose-md prose-stone dark:prose-invert prose-p:text-neutral-800 dark:prose-p:text-neutral-200 min-w-fit mx-auto overflow-y-auto">
        
        <div class="mb-4">
            <h1>{frontmatter?.title}</h1>
            <time class="text-sm font-normal text-zinc-400">{frontmatter?.publishDate}</time>
            
        </div>
        <slot />
    </div>
</MySiteLayout>
