---
import MySiteLayout from "./MySiteLayout.astro"
const {frontmatter} = Astro.props;
---

<MySiteLayout>
    <div class=" prose prose-md prose-stone  dark:prose-invert prose-p:text-zinc-400  min-w-fit mx-auto overflow-y-auto
    prose-h1:text-purple-400
    
    ">
        
        <div class="mb-4">
            <h1>{frontmatter?.title}</h1>
            <time class="text-sm font-normal text-zinc-400">{frontmatter?.publishDate}</time>
            
        </div>
        <slot />
    </div>
</MySiteLayout>
