---
import MySiteLayout from "./MySiteLayout.astro"

---

<MySiteLayout>
    <div class=" prose prose-sm lg:prose-xl dark:prose-invert w-full max-w-full prose-p:font-normal">
        <div class="space-y-2">
            <div class="text-3xl font-bold">Title</div>
            <time class="text-sm font-normal text-zinc-400">2022-12-12</time>
        </div>
        <slot />
    </div>
</MySiteLayout>