---
// Component Imports
//import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abhishek</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
  </script>
</head>

<body>
    <div
        class="relative bg-white dark:bg-black text-gray-900 dark:text-gray-200  w-full min-h-screen body-font font-lato font-medium antialiased
        flex flex-col ">

        <Nav />
        <div
            class="flex-grow container max-w-7xl mx-auto dark:bg-[#111111]  grid grid-cols-1  p-4 sm:p-8 relative h-full content-start ">
            
            <slot />
            
        </div>
        <Footer />
    </div>
</body>

</html>